/*p
{
	color: blue;
	font-size: 1.3 em;
	font-family: Impact, "Arial Black";
}
*/
/*
p
{
	border: 3px blue solid ;
	border-radius: 10px 5px 10px 5px;
}
*/

#conteneur
{
	display: flex;
	
}
#about
{
	display: flex;
	
	text-align: justify;

	
}

section
{
	
	background-color: #ccc;
	
	
}
/*	
nav
{	
	position: fixed;
	top:0px;
	right:0px;
	width: 150px;
	border: 1px solid blue;
}
*/
nav ul
{
	list-style-type: none;
	display:flex;
	right:100px;
	top:2px;
}
#fin
{
	
}
/*
.instagram
{
	border:2px solid;
}
.twitter
{
	border:2px solid;
}
.snapchat
{
	border:2px solid;
}
.tiktok
{
	border:2px solid;
}
.facebook
{
	border:2px solid;
}
*/
/*
#liste_lien
{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	border:2px solid #444;
	height:200px;
	background-color:gray;
	
}
.element
{
	width:250px;
	height:40px;
}
.element:nth-child(1)
{
	background-color:blue;
	margin:auto;
}
.element:nth-child(2)
{
	background-color:red;
}
.element:nth-child(3)
{
	background-color:green;
}
.element:nth-child(4)
{
	background-color:yellow;
}
.element:nth-child(5)
{
	background-color:brown;
}
*/
nav
{
	
	top:0px;
	right:0px;
	width: 150px;
	
}

body {
	font-family:'Trebuchet', Arial, sans-serif;
	color:#181818;
	width:auto;
	margin: auto;
	color:black;
	background-color:white;
	background-image:photos/Background.jpg;
	margin:0;
}
header
{
	display: flex;
	justify-content:space-between;
	align-items: flex-end;
	
	
	
}
#logo
{
	display:flex;
	flex-direction:row;
	align-items:baseline;
}
#bloc_page
	{
		width:auto;
		margin: auto;
	}

@media screen and (max-width: 1024px)
{
	#bloc_page
	{
		width:auto;
		margin: auto;
	}

	nav ul
	{
		flex-direction: column;
	}
	nav li
	{
		padding-left:4px;
	}
	nav a 
	{
		font-size:1.1 em;
		
	}
	nav a:hover
	{
		border-bottom:0;
	}
	#conteneur
	{
		display : flex;
		flex-direction:column;
		margin: auto;
	}
	#photo_about
	{
		margin: auto;
	}
	#about
	{
		display: flex;
	
		justify-content: space-around;
		text-align:justify;
		margin: auto;

	
	}
	
} 
